@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');


.input-component {
    position: relative;
    display: inline-block;
    color: rgba(128, 128, 128, 0.425);
    font-size: 2vh;
    width: 30vw; 
}

.input-component input {
    padding-right: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    color: black;
    font-size: 2vh;
    
}

.input-component button {
    position: absolute;
    top: 4vh;
    right: 0vw;
    border: none;
    background-color: rgb(5, 119, 128);
    cursor: pointer; 
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.582);
    font-size: 2vh;  
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 1vh;
}
  