.weather-component {
    justify-content: center;
    align-items: center;
    margin: 5vh;
}

.outer-box {
    background-color: rgba(2, 68, 57, 0.144);
    padding: 5vw;
    width: 35vw;
    display: flex;
    justify-content: center;
    
}

.inner-box {
    background-color: rgb(5, 119, 128);
    color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.header-section {
    font-size: 1.5em;
    font-weight: bold;   
}

.sub_header {
    font-weight:lighter;
    color: rgba(245, 245, 245, 0.411);
}

.temp-section {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 0px;
}


section.temp-section p.text {
    font-size: 1.5rem;
    color: white; 
    font-weight:lighter;
}

.temp-section .text {
    font-size: 1.5rem;
    margin-top: 0;
}

.info-section_h {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.info-section_h p{
    color: white;
    font-size: 1.5rem;
}

p.header{
    color: white;
    font-weight:lighter;
}



.info-section_b {
    font-weight:lighter;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 10px;
}

.info-section_b p {
    margin: 1px;
    padding: 0.5vw;
    color: white;
    font-size: large;
    font-weight:bold;


}