@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');


*{
  font-family: 'Heebo', sans-serif;
}

div p {
  color: rgb(142, 151, 156);
  font-size: 25px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 10%;
}

:root {
  background-color: rgba(174, 177, 179, 0.253);
  padding: 50px;
}
