@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

:root {
  background-color: rgba(174, 177, 179, 0.253);
}

*{
  font-family: 'Heebo', sans-serif;
}

div p {
  color: rgb(142, 151, 156);
  font-size: 3vw;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2vw;
}

.inputFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10vh;
  padding: 1vw;
}

